{{ define "main" }}

<main class="home-template homepage">
	<div class="left-column col" >
		<div id="left_first">
			{{ range  (where .Site.Pages "Params.colonna" "sinistra") }}
			{{partial "conditional/conditional.html" .}}
		{{ end }}
		</div>
		<div id="left_two">
			{{ range  (where .Site.Pages "Params.colonna" "sinistra") }}
				{{partial "conditional/conditional.html" .}}
			{{ end }}
		</div>
		<span class="helper-arrow">&#8595;</span>
	</div>
	
	<div class="center-column col">
		{{ partial "menu-column.html" .}}
	</div>
	<div class="right-column col">
		{{$id := ""}}
		{{ range first 1  ( where (where .Site.Pages "Params.colonna" "destra" ) "Params.evidenza" "==" true )}}
			{{$id = .Permalink}}
			{{partial "conditional/conditional.html" .}}
		{{end}}

		<div id="right_first">
			<div class="container">
				<div class="top">
					{{ range first 1  ( where (where .Site.Pages "Params.colonna" "destra") "Permalink" "!=" $id )}}
						{{partial "conditional/conditional.html" .}}
					{{ end }}
				</div>
				<div class="bottom">
				{{ range first 1 ( after 2 ( where (where .Site.Pages "Params.colonna" "destra") "Permalink" "!=" $id ) )}}
					{{partial "conditional/conditional.html" .}}
				{{ end }}
				</div>
				<div class="side-left">
					{{ range first 1 (after 1 ( where (where .Site.Pages "Params.colonna" "destra") "Permalink" "!=" $id ))}}
						{{partial "conditional/conditional.html" .}}
					{{ end }}
				</div>
				<div class="side-right" style="padding:1rem">
						<span class="type-box">
							{{.Site.Data.offertaformativa.scadenza.tag}}
						</span>
						<div class="inner" style="height: 90%;">
							<data id="scadenza-date">{{.Site.Data.offertaformativa.scadenza.date}}</data>
							<div id="countdown"></div>
							<span class="countdown-subtitle">{{.Site.Data.offertaformativa.scadenza.title}}</span> 
						</div>
				</div>
				<script>
					var enddate = document.querySelector("#scadenza-date").innerText
					var end = new Date(enddate);
					
						var _second = 1000;
						var _minute = _second * 60;
						var _hour = _minute * 60;
						var _day = _hour * 24;
						var timer;
					
						function showRemaining() {
							var now = new Date();
							var distance = end - now;
							if (distance < 0) {
					
								clearInterval(timer);
								document.getElementById('countdown').innerHTML = 'Iscrizioni concluse';
					
								return;
							}
							var days = Math.floor(distance / _day);
							var hours = Math.floor((distance % _day) / _hour);
							var minutes = Math.floor((distance % _hour) / _minute);
							var seconds = Math.floor((distance % _minute) / _second);
					
							document.getElementById('countdown').innerHTML ="-" +days + '<br>giorni ';
							
						}
						showRemaining();
						timer = setInterval(showRemaining, 60000);
					</script>
					
			  </div>
			{{ range  (after 3 ( where (where .Site.Pages "Params.colonna" "destra") "Permalink" "!=" $id ) )}}
				{{partial "conditional/conditional.html" .}}
			{{ end }}
		</div>
		<div id="right_two">
			<div class="container">
				<div class="top">
					{{ range first 1  ( where (where .Site.Pages "Params.colonna" "destra") "Permalink" "!=" $id )}}
						{{partial "conditional/conditional.html" .}}
					{{ end }}
				</div>
				<div class="bottom">
				{{ range first 1 ( after 2 ( where (where .Site.Pages "Params.colonna" "destra") "Permalink" "!=" $id ) )}}
					{{partial "conditional/conditional.html" .}}
				{{ end }}
				</div>
				<div class="side-left">
					{{ range first 1 (after 1 ( where (where .Site.Pages "Params.colonna" "destra") "Permalink" "!=" $id ))}}
						{{partial "conditional/conditional.html" .}}
					{{ end }}
				</div>
				<div class="side-right" style="padding:1rem">
						<span class="type-box">
							{{.Site.Data.offertaformativa.scadenza.tag}}
						</span>
						<div class="inner" style="height: 90%;">
							<data id="scadenza-date">{{.Site.Data.offertaformativa.scadenza.date}}</data>
							<div id="countdown_two"></div>
							<span class="countdown-subtitle">{{.Site.Data.offertaformativa.scadenza.title}}</span> 
						</div>
				</div>
				<script>
					var enddate = document.querySelector("#scadenza-date").innerText
					var end = new Date(enddate);
					
						var _second = 1000;
						var _minute = _second * 60;
						var _hour = _minute * 60;
						var _day = _hour * 24;
						var timer;
					
						function showRemaining() {
							var now = new Date();
							var distance = end - now;
							if (distance < 0) {
					
								clearInterval(timer);
								document.getElementById('countdown_two').innerHTML = 'Iscrizioni concluse';
					
								return;
							}
							var days = Math.floor(distance / _day);
							var hours = Math.floor((distance % _day) / _hour);
							var minutes = Math.floor((distance % _hour) / _minute);
							var seconds = Math.floor((distance % _minute) / _second);
					
							document.getElementById('countdown_two').innerHTML ="-" +days + '<br>giorni ';
							
						}
						showRemaining();
						timer = setInterval(showRemaining, 60000);
					</script>
					
			  </div>
			{{ range  (after 3 ( where (where .Site.Pages "Params.colonna" "destra") "Permalink" "!=" $id ) )}}
				{{partial "conditional/conditional.html" .}}
			{{ end }}
		</div>


		
		<span class="helper-arrow">&#8595;</span>
	</div>
</main>
{{ end }}