{{ define "main" }}
<div id="container">
	<main class="content" id="content" role="main">
		<!-- background -->
    <div id="background-data" data-imagesarray='{{ range (where .Site.RegularPages "Section" "immagini") }}{{ .Params.cover }},{{ end }}'>

    </div>
      
    {{ shuffle (seq 1 5) }}
		<div class="background" id="background">
     
      <!-- {{ range first 1 (shuffle (where .Site.RegularPages "Section" "immagini")  ) }}
        {{ .Title }}
      {{ end }} -->
		</div>
		<script>
      const backgroundData = document.querySelector('#background-data');
      let imagesData = backgroundData.dataset.imagesarray.split(",")
      imagesData.pop()
      console.log(imagesData)
      const pickedImg = imagesData[Math.floor(Math.random() * imagesData.length)]
			document.getElementById("background").style.backgroundImage = `url('${pickedImg}')`
		</script>
		<!-- video left -->
		<div class="video-container">
			{{ with .Site.GetPage "/video" }}
			<iframe id="ytplayer" src="{{ .Params.videourl }}" width="640" height="360" frameborder="0"
				allow="autoplay; fullscreen" allowfullscreen=""></iframe>
			{{ end }}
			<div class="countdown-container">
				<div id="countdown">
					<div>
						<div class="title">days</div>
						<div id="day-container">00</div>
					</div>
					<div id="rest-container">
						<div class="title">hours</div>
						<div id="hours-container">00:00:00</div>
					</div>
				</div>
			</div>
		</div> <!-- tapis left -->
		<div class="tapis-container" style="background-image: url(assets/tapis.png)">
			<!-- controls -->
			<div id="controlbuttons">
				<button class="pushable red" onclick="stoptreadmill();">
					<span class="front">
						Stop
					</span>
				</button>
				<button class="pushable green" onclick="gotreadmill();">
					<span class="front">
						Go
					</span>
				</button>
			</div>
			<div class="tapis-entry-container">
				<!-- Swiper -->
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<!-- Swiper -->
						{{ range where .Site.Pages "Section" "entries" }}
						<div class="tapis-entry c-carousel-item swiper-slide ">
							{{ .Content }}
						</div>
						{{ end }}

						<!-- Add Pagination -->
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</div>
			<!-- popup about -->
			<div class="popupwrapper" id="popupabout">
				<div class="popupcontainer">
					{{ with .Site.GetPage "/popup" }}
					{{ .Content }}
					{{ end }}
				</div>
			</div>
		</div>
	</main>
</div>
{{ end }}