{{ define "main" }}
<div class="single-template contact-template">
	<style>
		input, select {
		  width: 100%;
		  padding: 12px 20px;
		  margin: 8px 0;
		  display: inline-block;
		  border: 0;
		  background-color: white;
		  box-sizing: border-box;
		  font-family: 'Inter';
    
		}
		label {
			font-family: 'Inter';
			font-weight: bold;
		}
		input[type=submit] {
		  width: 100%;
		  background-color: #4CAF50;
		  color: white;
		  padding: 14px 20px;
		  margin: 8px 0;
		  border: none;
		  border-radius: 4px;
		  cursor: pointer;
		}
		
		input[type=submit]:hover {
		  background-color: #45a049;
		}
		hr {
			background-color: black;
    border: 1px solid;
    margin: 50px 0;
		}
		
		</style>
		<!--Dati Personali del Candidato
	- Nome
	- Cognome
	- Luogo di Nascita
	- Data di Nascita
	- Codice Fiscale
	- Città di residenza
	- Indirizzo di residenza
	 
	Dati di contatto
	- email
	- Telefono
	
	Documentazione
	(In questa sezione vanno caricati 3 file in formato .pdf, .doc/.docx, .jpg) 
	- Documento d’identità
	- Curriculum Vitae
	- Modulo di candidatura
	
	Informativa e consenso
	[checkbox]
	Ho letto l’Informativa sulla Privacy e acconsento  al trattamento dei dati inseriti
	(Il testo in pdf lo puoi trovare all’interno del file zip inviato venerdì scorso)
	-->
	{{ partial "menu-column.html" .}}

	
	<div class="single-content {{.Type}}">
		<div class="inner-single">
			<h1>Contatti</h1>
			
			<form method="post" enctype="multipart/form-data" action="https://itsteramo.it/phpmailer/form_upload.php">
				<h2>Dati Personali del Candidato</h2>
				<label for="fnome">Nome</label>
    			<input required type="text" id="fnome" name="nome" placeholder="Il tuo nome">

				<label for="fcognome">Cognome</label>
    			<input required type="text" id="fcognome" name="cognome" placeholder="Il tuo cognome">

				<label for="fluogonascita">Luogo di Nascita</label>
    			<input required type="text" id="fluogonascita" name="luogonascita" placeholder="Il tuo luogo di nascita">

				<label for="fdatanascita">Data di Nascita</label>
    			<input required type="date" id="fdatanascita" name="datanascita" >

				<label for="fcodicefiscale">Codice Fiscale</label>
    			<input required type="text" id="fcodicefiscale" name="codicefiscale" placeholder="Il tuo codice fiscale">

				<label for="fcittaresidenza">Città di Residenza</label>
    			<input required type="text" id="fcittaresidenza" name="cittaresidenza" placeholder="La tua città di residenza">

				<label for="findirizzoresidenza">Indirizzo di Residenza</label>
    			<input required type="text" id="findirizzoresidenza" name="indirizzoresidenza" placeholder="Il tuo indirizzo di residenza">

				<hr>
				<h2>Dati di contatto</h2>

				<label for="femail">Email</label>
    			<input required type="email" id="femail" name="email" placeholder="Il tuo indirizzo email">

				<label for="ftelefono">Telefono</label>
    			<input required type="tel" id="ttelefono" name="telefono" placeholder="Il tuo numero di cellulare">

				<hr>
				<h2>Documentazione</h2>
				<strong>ATTENZIONE: i file non devono superare la dimensione di 2mb ciascuno</strong><br><br>
				Documento identità: <input required name="documento_identita" type="file">
				Curriculum Vitae: <input required name="cv" type="file">
				 Modulo di Candidatura: <input required name="candidatura" type="file">

				 <hr>
				<h2>Informativa e consenso</h2>
				<label for="fconsenso">Ho letto l’<a target="_blank" href="/informativa_privacy.pdf">Informativa sulla Privacy</a> e acconsento  al trattamento dei dati inseriti</label>
    			<input required type="checkbox" id="fconsenso" name="consenso" >

				<input type="submit" value="Invia candidatura">
			</form>
		</div>
	</div>

</div>


{{ end }}