
@font-face {
    font-family: "wwDigital";
    src: url("/assets/wwDigital.ttf") format("truetype");
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    line-height: 1;
  }
  a {
    text-decoration-skip-ink: auto;
    color: white;
  }
  a[href^="tel"] {
    color: inherit;
    text-decoration: none;
  }
  button {
    outline: 0;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }
  q {
    display: inline;
    font-style: italic;
  }
  q:before {
    content: '"';
    font-style: normal;
  }
  q:after {
    content: '"';
    font-style: normal;
  }
  textarea,
  input[type="text"],
  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  input[type="search"],
  input[type="password"] {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
  }
  input[type="search"] {
    -webkit-appearance: textfield;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  th,
  td {
    padding: 2px;
  }
  big {
    font-size: 120%;
  }
  small,
  sup,
  sub {
    font-size: 80%;
  }
  sup {
    vertical-align: super;
  }
  sub {
    vertical-align: sub;
  }
  dd {
    margin-left: 20px;
  }
  kbd,
  tt {
    font-family: courier;
    font-size: 12px;
  }
  ins {
    text-decoration: underline;
  }
  del,
  strike,
  s {
    text-decoration: line-through;
  }
  dt {
    font-weight: bold;
  }
  address,
  cite,
  var {
    font-style: italic;
  }
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }
  .sticky {
  }
  .bypostauthor {
  }
  .wp-caption {
  }
  .wp-caption-text {
  }
  .gallery-caption {
  }
  .alignright {
  }
  .alignleft {
  }
  .aligncenter {
  }
  .screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    word-break: normal;
  }
  .screen-reader-text:focus {
    background-color: #f7f7f7;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    -webkit-clip-path: none;
    clip-path: none;
    color: #007acc;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 700;
    height: auto;
    right: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
  }
  .skip-link {
    left: -9999rem;
    top: 2.5rem;
    z-index: 999999999;
    text-decoration: underline;
  }
  .skip-link:focus {
    display: block;
    left: 6px;
    top: 7px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    line-height: normal;
    padding: 15px 23px 14px;
    z-index: 100000;
    right: auto;
  }
  .visually-hidden:not(:focus):not(:active),
  .form-allowed-tags:not(:focus):not(:active) {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: black;
  }
  #header,
  #footer {
    display: none;
  }
  #ytplayer {
    width: 100%;
    height: 75%;
  }
  
  .background {
    position: fixed;
    top: 0;
    background-size: cover;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  
  .content {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  .countdown-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: black;
  }
  #countdown {
      text-align: center;
      position: relative;
      font-family: "wwDigital", "sans-serif";
      display: flex;
      font-size: 5rem;
      color: red;
      margin: 0 55px;
  }
  #countdown .title {
      color: white;
  }
  #rest-container {
    position: absolute;
    right: 0;
  }
  .video-container {
    flex: 2;
    position: relative;
  }
  .tapis-container {
    flex: 1;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
  }
  #controlbuttons {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    top: 10px;
    z-index: 999;
  }
  .tapis-entry-container {
    height: 100%;
    width: 40%;
    padding: 15% 0 0 0;
    margin: auto;
    overflow: hidden;
  }
  .tapis-entry {
    font-family: "wwDigital", "sans-serif";
    overflow: auto;
    margin: 10px 0;
  }
  
  .pushable {
    border-radius: 100%;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    margin: 0 20px;
    text-transform: uppercase;
  }
  .pushable.red {
    background-color: rgb(95, 9, 9);
  }
  .pushable.red .front {
    background-color: #9a1c03;
  }
  .pushable.green {
    background-color: rgb(7, 66, 7);
  }
  .pushable.green .front {
    background-color: #64bd25;
  }
  
  .front {
    display: block;
    padding: 12px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    font-size: 1.25rem;
    color: white;
    transform: translateY(-6px);
    display: grid;
    place-content: center;
  }
  .swiper-slide {
    overflow: hidden;
  }
  
  .pushable:active .front {
    transform: translateY(-2px);
  }
  .swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .popupwrapper {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background: #0000008a;
    place-content: center;
    z-index: 99;
    top: 0;
    left: 0;
  }
  .popupwrapper.__show {
    display: grid;
  }
  
  .popupcontainer {
    margin: auto;
    background: #61a05387;
    width: 70%;
    max-height: 50vh;
    min-height: 50vh;
    font-size: 3rem;
    overflow: auto;
    padding: 50px;
    font-family: "wwDigital", "sans-serif";
  }
  @media screen and (max-width: 768px) {
    .video-container {
      position: absolute;
      z-index: 19;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
    #ytplayer {
      height: 25%;
    }
    #countdown {
      font-size: 2rem;
    }
    .tapis-container {
      height: 75%;
      position: absolute;
      bottom: 0;
    }
    .popupcontainer {
      color: white;
      margin: auto;
      background: #61a05387;
      max-height: 50%;
      margin-top: 80%;
      font-size: 1.5rem;
      overflow: auto;
      padding: 15px;
      font-family: "wwDigital", "sans-serif";
    }
  }
  