<footer>
    <div class="f-1 d-f partners-responsive">
        <div class="f-1">
            <img src="{{ "/agrits.png" |relURL}}" />
        </div>
        <div class="f-1">
            <img src="{{ "/eu_flag.jpg" |relURL}}" />
        </div>
        <div class="f-1">
            <img src="{{ "/miur.png" |relURL}}" />
        </div>
        <div class="f-1">
            <img src="{{ "/sistemaits.png" |relURL}}" />
        </div>
        <div class="f-1">
            <img src="{{ "/regioneabruzzo.jpeg" |relURL}}" />
        </div>
    </div>
    <div class="footer-box-responsive" style="padding-top: 1rem;">
        <div class="f-1 t-a-cnt">
            <img class="its-logo" src="{{"/its-logo.png" |relURL}}" />
        </div>
        <div class="f-2 ">
            info@itsteramo.it<br>
            Fondazione Istituto Tecnico Superiore<br>
            Nuove Tecnologie per il "Made in Italy"<br>
            Sistema Agroalimentare di Teramo<br>
            Via A. De Benedictis, 1 - 64100 Teramo, Italy
        </div>
    </div>
    <div class="credits credits-responsive">
        <div class="f-1">

        </div>
        <div class="f-2">
            <p>
                   design: <a href="https://www.muschielicheni.net/" target="_blank">muschi&licheni</a><br/>
                   sviluppo: <a href="http://portfolio.michelangeloalesi.it/" target="_blank">Michelangelo Alesi</a>
             </p>     
        </div>
    </div>
</footer>
